.radio-tile-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
}

.radio-tile-field input 
{
  display: none;
}
.suboffer-label
{
  font-weight: bold;
}
.suboffer-field
{
  font-weight: bold;
  /*color: #fff;*/
  float: right;
}
.radio-tile-field label 
{
  display: block;
  width: 160px;
  height: 100px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
  padding: 6px 14px;
  margin: 6px 0px 6px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
}

.radio-tile-field label:hover 
{	
    background-color: #ffc092;
    cursor: pointer;
}

.radio-tile-field input:checked + label {
  background-color: #a6e9ff;
  color: #555;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
}