<div>
	<div x-ba-panel x-ba-panel-title="Fiche Article : {{ entity.name |limitTo: 30 }}">
		<div layout="column" layout-align="start">
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Nom de l'article</label>
					<input value="{{ entity.name }}" readonly />
				</md-input-container>
			</div>
			<div layout="row" x-ng-show="entity.description">
				<md-input-container class="md-block" flex>
					<label>Description</label>
					<input value="{{ entity.description }}" readonly />
				</md-input-container>
			</div>
			<!-- Keyword -->
			<div layout="row" ng-if="entity.keywords.length">
				<p flex>
					<label flex>Mots clés</label>
					<md-chips flex readonly="true" md-readonly="true" ng-model="entity.keywords" md-removable="false"></md-chips>
				</p>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Prix original</label>
					<input value="{{ entity.price | number }} F CFA" class="text-right" readonly />
				</md-input-container>
			</div>
			<div layout="row" layout-wrap>
				<div flex>
					<md-input-container class="md-block" flex>
						<label>Livraison</label>
						<input value="{{ entity.deliveryMode == 'FREE'? 'Gratuite' : 'Payante' }}" readonly />
					</md-input-container>
				</div>
				<div flex ng-if="entity.deliveryMode != 'FREE'">
					<md-input-container class="md-block" flex>
						<label>Frais Livraison</label>
						<input value="{{ entity.deliveryFee | number }} F CFA" class="text-right" readonly />
					</md-input-container>
				</div>
			</div>
			<div layout="row" x-ng-show="entity.deliveryTerms">
				<md-input-container class="md-block" flex>
					<label>Conditions de livraisons</label>
					<input readonly value="{{ entity.deliveryTerms }}" />
				</md-input-container>
			</div>
			<div layout="row" x-ng-show="entity.isDiscounted" layout-wrap>
				<div flex>
					<md-input-container class="md-block" flex>
						<label>En promotion</label>
						<input value="{{ entity.isDiscounted ? 'Oui' : 'Non' }}" readonly />
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block" flex>
						<label>Prix Promo</label>
						<input value="{{ entity.discountPrice | number }} F CFA" class="text-right" readonly />
					</md-input-container>
				</div>
			</div>
			<div layout="row">
				<div flex>
					<md-input-container class="md-block" flex>
						<label>Stock</label>
						<input value="{{ entity.stock | number }} unités"  class="text-right" readonly />
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block" flex>
						<label>Stock d'alerte</label>
						<input value="{{ entity.threshold | number }} unités"  class="text-right" readonly />
					</md-input-container>
				</div>
			</div>
			<div layout="row" layout-wrap>
				<md-input-container class="md-block" flex>
					<label>Etat</label>
					<input value="{{ entity.state == 'NEW' ? 'Neuf' : 'Occasion' }}" readonly />
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Affiché en boutique ?</label>
					<input value="{{ entity.isDisplayed ? 'Oui' : 'Non' }}" readonly />
				</md-input-container>
			</div>
			<div layout="row" ng-show="entity.features.length">
				<div class="md-block" flex>
					<label>Caractéristiques</label>
					<p x-ng-repeat="arfeat in entity.features">
						<b>{{ arfeat.feature.label }} : </b>
						<span class="badge bg-info" x-ng-repeat="featVal in arfeat.values">{{ featVal.value }}</span>
					</p>
				</div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="carouselConfig.active">
					<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
						<img ng-src="{{ slide.image }}" style="margin: auto; width: 100% !important; max-height: 320px;">
					</div>
				</div>
				<div layout="row" layout-align="center space-around" layout-margin>
				
					<a ng-click="carouselConfig.active = slide.id" class="picture-thumbnail" x-ng-repeat="slide in slides" flex="25">
						<img ng-src="{{ slide.image }}" class="img-responsive center-block" style="max-width: 80px; max-height: 80px;" />
					</a>
					
				</div>
			</div>
			
			<div flex layout="row" layout-align="space-between">
				<div flex layout="row" layout-align="start center">
					<md-button flex="nogrow" class="md-raised" aria-label="Retour à la liste" x-ui-sref="root.e-shops.show.articles">
						<i class="fa fa-arrow-circle-left"></i> Retour<span class="hidden-xs"> à la liste</span>
					</md-button>
				</div>
				<div flex layout="row" layout-align="end center">
					<md-button class="md-raised md-accent" aria-label="Promouvoir" x-ui-sref="root.adv-offers.new">
						Promouvoir <i class="fa fa-certificate"></i>
					</md-button>
					<md-button class="md-raised md-accent" aria-label="Modifier" x-ui-sref="root.e-shops.show.articles.update( { id: entity.id })">
						Modifier <i class="fa fa-edit"></i>
					</md-button>
				</div>
			</div>
			
		</div>
	</div>
</div>