<div>
	<div x-ba-panel x-ba-panel-title="Fiche Article {{ entity.name |limitTo: 30 }}" x-ba-panel-class="with-scroll">
		<div layout-xs="column" layout-align="start stretch" layout-fill
			 layout-gt-xs="row" layout-wrap>
			<div flex-xs="100" flex-gt-xs="40" layout-align="center stretch">
				<!-- <img x-ng-src="rest/article/fetchDefaultPic/{{ entity.id }}" flex class="img-responsive" /> -->
				<img x-ng-src="https://drive.google.com/uc?id={{ entity.pictures[0].googleId == null ? entity.pictures[0].googleId : '0B0W0ktANhIydZlk5dmxPOGotbXM'}}&export=download" class="img-responsive center-block" />
			</div>
			<div flex-xs="100" flex-gt-xs="58" layout-margin>
				<p class="md-title">{{ entity.name }}</p>
				<p class="text-muted text-justify">{{ entity.description }}</p>
				<p x-ng-if="entity.keywords.length">
					<label flex>Mots clés</label>
					<md-chips flex readonly="true" md-readonly="true" ng-model="entity.keywords" md-removable="false">
					</md-chips>
				</p>
				<p>
					<label>Prix original</label> <b><span class="text-primary">{{ entity.price | number }}</span> F CFA</b>
				</p>
				<p>
					<span x-ng-show="entity.isDiscounted">
						<label>En promotion à</label>
						{{ entity.discountPrice | number }} F CFA
					</span>
				</p>
				<p>
					<label>Etat</label> <span>{{ entity.state == 'NEW' ? 'Neuf' : 'Occasion' }}</span>
				</p>
				<p>
					<label>Stock</label> <span>{{ entity.stock | number }}</span> unités ( Alerte à: {{ entity.threshold | number }})
				</p>
				<p>
					<label>Affiché</label> <span class="badge bg-success">{{ entity.isDisplayed ? 'Oui' : 'Non' }}</span>
				</p>
			</div>
			
			<div flex="100" x-ng-if="entity.features.length">
				<p>
					<label>Caractéristiques</label>
				</p>
				<p x-ng-repeat="arfeat in entity.features">
					<b>{{ arfeat.feature.label }} : </b>
					&nbsp;<span class="badge bg-info" x-ng-repeat="featVal in arfeat.values">{{ featVal.value }}</span>
				</p>
			</div>
			
			<div flex="100" x-ng-if="entity.categories.length">
				<p>
					<label>Catégories</label>
				</p>
				<p x-ng-repeat="arfeat in entity.features">
					<b>{{ arfeat.feature.label }} : </b>
					&nbsp;<span class="badge bg-primary" x-ng-repeat="featVal in arfeat.values">{{ featVal.value }}</span>
				</p>
			</div>
			
			<div flex="100">
				<p>
					<label>Livraison</label>
				</p>
				<p>
					<span x-ng-if="entity.deliveryMode == 'FREE'">
						Gratuite
					</span>
					<span x-ng-if="entity.deliveryMode == 'CHARGED'">
						Payante: {{ entity.deliveryFee | number }} F CFA
					</span>
				</p>
				<p>
					<label>Conditions de livraison</label>
				</p>
				<p>
					{{ entity.deliveryTerms }}
				</p>
			</div>
			
			<div flex="100" x-ng-if="entity.pictures.length > 1">
				<p>
					<label>Autres images</label>
				</p>
				<div layout-gt-xs="row" layout-align-gt-xs="space-around"
					 layout-xs="column" layout-align-xs="center center">
					 
					<!-- <img x-ng-src="rest-api/article/fetch-picture/{{ pic.id }}" flex-gt-xs="33" flex-xs="100" class="img-responsive img-thumbnail" x-ng-repeat="pic in entity.pictures"
						 style="max-height: 200px; max-width: 200px;" x-ng-if=" !pic.isDefault"/> -->
					<img x-ng-src="https://drive.google.com/uc?id={{ pic.googleId }}" flex-gt-xs="33" flex-xs="100" class="img-responsive img-thumbnail" x-ng-repeat="pic in entity.pictures"
					 	 style="max-height: 200px; max-width: 200px;" x-ng-if=" !pic.isDefault"/>
				</div>
			</div>
			
			<div flex="100" layout="row" layout-align="space-between">
				<div flex layout="row" layout-align="start center">
					<md-button flex="nogrow" class="md-raised" aria-label="Retour à la liste" x-ui-sref="root.e-shops.show.articles">
						<i class="fa fa-arrow-circle-left"></i> Retour<span class="hidden-xs"> à la liste</span>
					</md-button>
				</div>
				<div flex layout="row" layout-align="end center">
					<md-button class="md-raised md-accent" aria-label="Promouvoir" x-ui-sref="root.adv-offers.new">
						Promouvoir <i class="fa fa-certificate"></i>
					</md-button>
					<md-button class="md-raised md-accent" aria-label="Modifier" x-ui-sref="root.e-shops.show.articles.update( { id: entity.id })">
						Modifier <i class="fa fa-edit"></i>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>