<div x-ba-panel x-ba-panel-title="Détails Statut de Boutique" x-ba-panel-class="with-scroll">
	<table class="table table-hover">
		<tbody>
			<tr>
				<td class="header-cell">Id</td>
				<td>{{ entity.id }}</td>
			</tr>
			<tr>
				<td class="header-cell">Titre</td>
				<td>{{ entity.title }}</td>
			</tr>
			<tr>
				<td class="header-cell">Description</td>
				<td>{{ entity.description }}</td>
			</tr>
			<tr>
				<td class="header-cell">Limite d'articles</td>
				<td>{{ entity.articleLimit }}</td>
			</tr>
			<tr>
				<td class="header-cell">Activé</td>
				<td class="text-center"><state-label is-enabled="entity.isEnabled"></state-label></td>
			</tr>
		</tbody>
	</table>

	<div class="pull-left">
		<button x-ui-sref="root.shopStatuses" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i><span class="hidden-xs">&nbsp;Retour à la liste</span></button>
	</div>

	<button x-ui-sref="root.shopStatuses.edit({ id: entity.id})" class="btn btn-warning pull-right" x-ng-click="">
		<span class="hidden-xs ">Modifier</span>&nbsp;<i class="fa fa-edit"></i>
	</button>
</div>