<md-dialog aria-label="Nouveau Compte Monnaie Numérique">
  <!-- <form ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><i class="fa fa-lock"></i> Changement du mot de passe</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Annuler">
          <i class="fa fa-remove"></i>
        </md-button>
      </div>
    </md-toolbar>

	<form name="pwForm" id="pwForm">
    <md-dialog-content>
	      <div class="md-dialog-content">
	       	<div layout="row" layout-align="start" layout-wrap>
			   <md-input-container flex="100" class="md-block">
				<label>Mot de passe actuel</label>
			   	<input x-ng-model="form.currentPassword" type="password" required name="currentPassword" />
			   	<div ng-messages="pwForm.currentPassword.$error" multiple md-auto-hide="false">
			   		<div ng-message="required">
			   			Champs requis.
			   		</div>
			   		<div x-ng-if="formErrors.currentPassword.invalid">
			   			Mot de passe erroné.
			   		</div>
			   	</div>
			   </md-input-container>
			   <md-input-container flex="100" class="md-block">
				<label>Nouveau mot de passe</label>
			   	<input x-ng-model="form.password" type="password" required name="password" ng-minlength="8"/>
			   	<div ng-messages="pwForm.password.$error" multiple md-auto-hide="false">
			   		<div ng-message="required">
			   			Champs requis.
			   		</div>
			   		<div ng-message="minlength">
			   			Le mot de passe doit comporter au moins 8 caractères.
			   		</div>
			   		<div x-ng-if="formErrors.password.mismatch">
			   			Les mots de passe ne correspondent pas.
			   		</div>
			   	</div>
			   </md-input-container>
			   <md-input-container flex="100" class="md-block">
				<label>Confirmer mot de passe</label>
			   	<input x-ng-model="form.confirmPassword" type="password" required name="confirmPassword" ng-minlength="8"/>
			   	<div ng-messages="pwForm.confirmPassword.$error" multiple md-auto-hide="false">
			   		<div ng-message="required">
			   			Champs requis.
			   		</div>
			   		<div ng-message="minlength">
			   			Le mot de passe doit comporter au moins 8 caractères.
			   		</div>
			   		<div x-ng-if="formErrors.password.mismatch">
			   			Les mots de passe ne correspondent pas.
			   		</div>
			   	</div>
			   </md-input-container>
			</div>
	      </div>
	  
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer( false)" aria-label="Annuler">
       <i class="fa fa-undo"></i> Annuler
      </md-button>
      <span flex></span>
      <md-button class="md-primary" ng-click="answer( true)" aria-label="Valider" type="submit">
        Valider <i class="fa fa-check-circle"></i>
      </md-button>
    </md-dialog-actions>
    </form>
  <!-- </form> -->
</md-dialog>