<div class="products-container animated fadeInLeft" x-ng-if="!isLoading && entities.length">
	<div class="products-container-header">
		<h4 class="title text-mainge">
			<i class="fa fa-tags"></i>&nbsp;Publicités&nbsp;<small> {{ entities.length }}</small>
		</h4>
	</div>
	<div class="products-container-content">
		<div class="loader-container" x-ng-if="isLoading">
			<div class="loading loading--double" x-ng-show="isLoading"></div>
		</div>

		<div class="products-flex-container" x-ng-show="!isLoading" layout="column" layout-align="center">
			<ad-article-widget article="entity" x-ng-repeat="entity in entities" />
		</div>

		<h3 class="no-content-text" x-ng-if="!isLoading && !entities.length">
			<i class="fa fa-circle-o-notch"></i>
		</h3>
	</div>
</div>