<div class="container-fluid">
	<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12" style="min-height: 460px;">
		<div class="row">
			<div class="default-panel animated bounceInUp">
			
				<div class="default-panel-header">
					<h4 class="title text-mainge"><i class="fa fa-truck"></i>&nbsp;Erreur 401</h4>  <small>Veuillez vous connecter</small>
				</div>
				
				<div class="defaut-panel-content">
					<div layout="column">
						<div layout="row" layout-wrap>
							<div flex layout="column" layout-align="center center">
								<span flex style="font-size: 150px; margin: auto; font-weight:bold; color: #ff7823;">
									401
								</span>
							</div>
							<div layout="column" layout-align="start center" flex layout-margin style="font-size: 128%;">
								<div flex>
									<p>
										Désolé.
									</p>
									<p class="text-justify">
										Vous devez être connecté pour accéder à cette fonctionnalité.
									</p>
								</div>
							</div>
						</div>
						
						<div layout="row" layout-align="start" flex layout-margin layout-padding>
							<div>
								<md-button class="md-raised" x-ui-sref="root.registration">
									<i class="fa fa-user-plus"></i> Inscription
								</md-button>
							</div>
							<div flex></div>
							<div>
								<md-button class="md-raised md-primary" x-ui-sref="root.login">
									<i class="fa fa-sign-in"></i> Connexion
								</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>