<div class="container-fluid">
	<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12" style="min-height: 460px;">
		<div class="row">
			<div class="default-panel animated bounceInUp">
			
				<div class="default-panel-header">
					<h4 class="title text-mainge"><i class="fa fa-truck"></i>&nbsp;Erreur 404</h4>  <small>Page Introuvable</small>
				</div>
				
				<div class="defaut-panel-content">
					<div layout="row" layout-wrap>
						<div flex layout="column" layout-align="center center">
							<span flex style="font-size: 150px; margin: auto; font-weight:bold; color: #ff7823;">
								404
							</span>
						</div>
						<div layout="column" layout-align="start center" flex layout-margin style="font-size: 128%;">
							<div flex>
								<p>
									Désolé.
								</p>
								<p class="text-justify">
									La page que vous recherchez est introuvable.
									Merci de contacter un administrateur si le problème persiste.
								</p>
							</div>
						</div>
					</div>
					
					<div layout="column" layout-align="center center" flex layout-margin>
						<md-button class="md-raised" x-ui-sref="root">
							<i class="fa fa-home"></i> Retour à l'accueil
						</md-button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>