<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="container-fluid">
					<div class="default-panel animated fadeIn">
						<div class="default-panel-header">
							<h4 class="title text-mainge"><i class="fa fa-unlock"></i>&nbsp;Activation du compte</h4>
						</div>
						
						<div layout="column" layout-align="center center" x-ng-if="isLoading" layout-margin>
							<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
			        	</div>
						        	
						<div layout="row" layout-wrap layout-padding x-ng-if="done && !isLoading">
							<div flex="100">
								<p class="text-justify">
									Félicitations ! Votre compte sur a été activé avec succès. Encore une étape et vous pourrez faire vos
									achats en ligne sans soucis sur notre plateforme.
								</p>
							</div>
							<div flex="100" layout="row" layout-align="start">
								<md-button class="md-raised" aria-label="Valider" x-ui-sref="root" x-ui-sref-options="{reload: true}">
									<i class="fa fa-home"></i> Retour à l'accueil
								</md-button>
								<span flex></span>
								<md-button class="md-raised md-primary" aria-label="Connexion" x-ui-sref="root.login">
									Se Connecter <i class="fa fa-sign-in"></i>
								</md-button>
							</div>
						</div>
						
						
						<div layout="row" layout-wrap layout-padding x-ng-if="!done && !isLoading">
							<div flex="100">
								<p class="text-justify">
									Désolé, il semblerait que votre compte soit déjà activé, ou que votre requête soit invalide.
								</p>
							</div>
							<div flex="100" layout="row" layout-align="center">
								<md-button class="md-raised" aria-label="Valider" x-ui-sref="root" x-ui-sref-options="{reload: true}">
									<i class="fa fa-home"></i> Retourner à l'accueil
								</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>