<div x-ui-view>
	<div class="row">
		<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<div class="row">
				<div class="row">
				
					<div class="container-fluid">
						<div class="default-panel animated fadeIn">
						
							<div class="default-panel-header">
								<h4 class="title text-mainge"><i class="{{ view.icon }}"></i>&nbsp;{{ view.title }}</h4>&nbsp;<small>{{ view.description }}</small>
							</div>
							
							<div class="default-panel-content">
								<div class="loader-container" x-ng-if="isListLoading">
									<div class="loading loading--double"></div>&nbsp;<span class="default-text text-mainge">Chargement en cours ...</span>
								</div>
								
								<div x-ng-if="!isListLoading && entities.length">
									<div x-ng-repeat="entity in entities" layout-gt-sm="row" layout-sm="column" layout-gt-sm="start center" layout-sm="center center"
										style="margin: 4px; border: 1px solid #eee">
										<!-- Picture -->
										<div flex-gt-sm="300px" flex-sm="100">
											<a x-ui-sref="root.e-shop({ id: entity.id })">
												<img class="img-responsive" ng-src="rest-api/e-shop/{{ entity.id }}/fetch-logo" />
												<!-- <img class="img-responsive" ng-src="rest-api/e-shop/{{ entity.id }}/fetch-logo" style="max-width: 250px;" hide-sm hide-xs />
												<img class="img-responsive" ng-src="rest-api/e-shop/{{ entity.id }}/fetch-logo" style="max-width: 100%;" hide-gt-sm /> -->
											</a>
										</div>
										<!-- Name and desc -->
										<div flex-gt-sm="auto" flex-sm="100" layout="column" layout-align="start start" style="padding: 4px;">
										     <div flex>
										     	<a x-ui-sref="root.e-shop({ id: entity.id })">
										     		<span style="font-weight: 180%; font-weight: bold;" class="text-mainge"><b>{{ entity.name }}</b></span>
										     	</a>
										     	<small>{{ entity.description }}</small>
										     	<div>
										     		<small>
										     			<label>Service client</label>
										     			{{ entity.customerNum }}
										     		</small>
										     	</div>
										     	<div>
										     		<small>
										     			<label>Adresse EMail</label>
										     			{{ entity.email }}
										     		</small>
										     	</div>
										     </div>
										     <div flex layout="row" layout-align="end center">
										     	<span flex>
											     	<md-button class="md-primary" x-ng-click="removeFromFavorites( entity.id)">
											     		Retirer des favoris&nbsp;<i class="fa fa-star-o"></i>
											     	</md-button>
										     	</span>
										     </div>
										</div>
										<!-- Delete From Favs -->
									</div>
								</div>
								
								<div layout="column" layout-align="center center" x-ng-if="!isListLoading && !entities.length">
				   					<div flex="auto">
				   						<h3 class="md-title text-mainge"><i class="fa fa-circle-o-notch"></i>&nbsp;<b>Aucune boutique favorite</b></h3>
				   					</div>
						        </div>
							</div>
							
							<div class="default-panel-footer" x-ng-if="pagination.itemsNumber > pagination.pageSize">
								<div class="text-center">
									<pagination uib-pagination x-ng-model="pagination.currentPage" boundary-links-numbers="true" rotate="false"
											num-pages="pagination.pagesNumber" max-size="5" class="pagination" items-per-page="pagination.pageSize"
											total-items="pagination.itemsNumber" x-ng-change="changePage()"
											previous-text="Précédent" next-text="Suivant">
									</pagination>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>