<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="container-fluid">
					<div class="default-panel animated fadeIn">
						<div class="default-panel-header">
							<h4 class="title text-mainge"><i class="fa fa-unlock"></i>&nbsp;Récupération du mot de passe</h4>
						</div>
						
						<div layout="column" layout-align="center center" x-ng-if="isLoading" layout-margin>
							<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
			        	</div>
						        	
						<div layout="column" layout-wrap layout-padding x-ng-if="!done && !isLoading">
							<div flex="100">
								<p class="text-center">
									Entrez votre adresse e-mail pour initier la procédure de changement de mot de passe.
								</p>
							</div>
							
							<form flex="100" layout="column" layout-wrap>
								<div flex="100">
									<md-input-container flex class="md-block">
										<label>Adresse E-Mail</label>
										<input type="email" x-ng-model="form.email" required name="email" ng-pattern="/^.+@.+\..+$/" />
										<div ng-messages="form.email.$error">
											<div ng-message="required">
												Champ requis.
											</div>
											<div ng-message="">
											
											</div>
										</div>
									</md-input-container>
								</div>
								
								<div layout="column" layout-align="center center" flex>
								  	<md-input-container class="md-block" flex>
								  		<div flex vc-recaptcha key="'6LclTRcUAAAAAMdM9DJOL7a6QQum6lh8PyC1Maos'" x-ng-model="form.captcha" required></div>
								  	</md-input-container>
								</div>
						  
								<div flex="100" layout="row" layout-align="end">
									<md-button class="md-raised md-primary" aria-label="Valider" x-ng-click="requestPassword()" type="submit">
										Valider <i class="fa fa-check-circle"></i>
									</md-button>
								</div>
							</form>
						</div>
						
						<div layout="row" layout-wrap layout-padding x-ng-if="done && !isLoading">
						
							<div layout-sm="column" layout-gt-sm="row" layout-padding>
								<div flex-sm="100" flex-gt-sm="40">
									<img x-ng-src="https://drive.google.com/uc?id=0B0W0ktANhIydRHQ4TUU1YjJ6c3M&amp;export=download" class="img-responsive product-img" />
								</div>
								<div flex-sm="100" flex-gt-sm="60">
									<div class="container-fluid" style="margin-top: 12px;">
										<p class="text-justify animated flash" style="text-indent: 30px; font-weight: 100%;">
											Votre demande de récupération de mot de passe a bien été prise en compte.
											Un mail de réinitialisation vous a été envoyé à l'adresse spécifiée. Merci de vous conformer
											aux instructions y figurant pour terminer le processus de récupération.
										</p>
										
										<a x-ui-sref="root" class="btn p-btn-default center-block"><i class="fa fa-home"></i> Retour à l'accueil</a>
									</div>
								</div>
							</div>
							
<!-- 							<div flex="100">
								<p class="text-center">
									Votre demande de récupération de mot de passe a bien été prise en compte.
									Un mail de réinitialisation vous a été envoyé à l'adresse spécifiée. Merci de vous conformer
									aux instructions y figurant pour terminer le processus de récupération.
								</p>
							</div>
							<div flex="100" layout="row" layout-align="center">
								<md-button class="md-raised md-primary" aria-label="Valider" x-ui-sref="root" x-ui-sref-options="{reload: true}">
									<i class="fa fa-home"></i> Retour à l'accueil
								</md-button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>