<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="container-fluid">
					<div class="default-panel animated fadeIn">
						<div class="default-panel-header">
							<h4 class="title text-mainge"><i class="fa fa-unlock"></i>&nbsp;Réinitialisez votre mot de passe</h4>
						</div>
						
						<div layout="column" layout-align="center center" x-ng-if="!done && isLoading" layout-margin>
							<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
			        	</div>
						
						<div layout="row" layout-wrap layout-padding x-ng-if="!done && !isLoading">
							<form flex="100" layout="row" layout-wrap>
								<div flex="100">
									<md-input-container flex class="md-block">
										<label>Nouveau mot de passe</label>
										<input x-ng-model="form.pw" required type="password" name="password" ng-minlength="8" />
										<div ng-messages="form.password.$error">
											<div ng-message="required">
												Champs requis.
											</div>
											<div ng-message="minlength">
												Le mot de passe doit comporter au moins 8 caractères.
											</div>
										</div>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>Confirmer mot de passe</label>
										<input x-ng-model="form.pwConf" required type="password" name="confirmPassword" />
										<div ng-messages="form.confirmPassword.$error">
											<div ng-message="required">
												Champs requis.
											</div>
											<div ng-message="minlength">
												Le mot de passe doit comporter au moins 8 caractères.
											</div>
										</div>
									</md-input-container>
								</div>
								
								<div flex="100" layout="row" layout-align="end">
									<md-button class="md-raised md-primary" aria-label="Valider" type="submit" x-ng-click="resetPassword()" type="submit">
										Valider <i class="fa fa-check-circle"></i>
									</md-button>
								</div>
							</form>
						</div>
						
						
						
						<div layout="row" layout-wrap layout-padding x-ng-if="done && !isLoading">
						
							<div layout-sm="column" layout-gt-sm="row" layout-padding flex>
								<div flex-sm="100" flex-gt-sm="40">
									<img x-ng-src="https://drive.google.com/uc?id=0B0W0ktANhIydRHQ4TUU1YjJ6c3M&amp;export=download" class="img-responsive product-img" />
								</div>
								<div flex-sm="100" flex-gt-sm="60">
									<div class="container-fluid" style="margin-top: 12px;">
										<p class="text-justify animated flash" style="text-indent: 30px; font-weight: 100%;">
											Votre mot de passe a été réinitialisé avec succès. Un mail de confirmation vous sera également envoyé.
											Vous pouvez dès à présent vous connecter en utilisant votre nouveau mot de passe.
										</p>
									</div>
								</div>
							</div>
							
							<!-- <div flex="100">
								<p class="text-justify">
									<i class="fa fa-check-square" style="font-size: 150%; color: #00B200;"></i>&nbsp;
									Votre mot de passe a été réinitialisé avec succès. Un mail de confirmation vous sera également envoyé.
									Vous pouvez dès à présent vous connecter en utilisant votre nouveau mot de passe.
								</p>
							</div> -->
							<div flex="100" layout="row" layout-align="start">
								<md-button class="md-raised" aria-label="Valider" x-ui-sref="root" x-ui-sref-options="{reload: true}">
									<i class="fa fa-home"></i> Retour à l'accueil
								</md-button>
								<span flex></span>
								<md-button class="md-raised md-primary" aria-label="Connexion" x-ui-sref="root.login">
									Se Connecter <i class="fa fa-sign-in"></i>
								</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>