<div x-ba-panel x-ba-panel-title="Détails Commande #{{ entity.id }}" x-ba-panel-class="with-scroll">
	<table class="table table-hover">
		<tbody>
			<tr>
				<td class="header-cell">Id</td>
				<td>{{ entity.id }}</td>
			</tr>
			<tr>
				<td class="header-cell">Date</td>
				<td>{{ entity.regDate | date: 'medium' }}</td>
			</tr>
			<tr>
				<td class="header-cell">Auteur</td>
				<td>{{ entity.buyer.username }}</td>
			</tr>
			<tr>
				<td class="header-cell">Statut</td>
				<td><order-status x-status="entity.status" /></td>
			</tr>
			<tr x-ng-show="entity.deliveryDate != null">
				<td class="header-cell">Date début livraison</td>
				<td>{{ entity.deliveryDate | date: 'medium' }}</td>
			</tr>
		</tbody>
	</table>
	
	<h4 class="special-header">Articles commandés</h4>
	
	<table class="table table-hovered">
		<thead>
			<tr>
				<th colspan="2">Article</th>
				<td class="text-right">Prix</td>
				<td class="text-right">Quantité</td>
				<td class="text-right">Total</td>
			</tr>
		</thead>
		<tbody>
			<tr x-ng-repeat="orderedArticle in entity.orderedArticles">
				<td class="text-left">
					<img x-ng-src="rest/article/fetchDefaultPic/{{ orderedArticle.article.id }}" style=" height: 128px;" class="img-responsive img-thumbnail center-block" />
				</td>
				<td style="vertical-align: middle;">
					<b>{{ orderedArticle.article.name}}</b>
					<p>
						<span x-ng-repeat="orderedArticleFeature in orderedArticle.orderedArticleFeatures">
							<label>{{ orderedArticleFeature.feature.label }}</label>
							<span class="badge label-default" x-ng-repeat="featureValue in orderedArticleFeature.featureValues">
									{{ featureValue.value }}
							</span>
						</span>
					</p>
				</td>
				<td class="text-right" style="vertical-align: middle;">
					{{ orderedArticle.article.price }} F CFA
				</td>
				<td class="text-right" style="vertical-align: middle;">
					{{ orderedArticle.quantity }}
				</td>
				<td class="text-right" style="vertical-align: middle;">
					{{ orderedArticle.article.price * orderedArticle.quantity }} F CFA
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-right">
					<b>Total</b>
				</td>
				<td class="text-right"><b>{{ entity.total }} F CFA</b></td>
			</tr>
		</tfoot>
	</table>
	
	<div x-ng-show="entity.status == 'PAID'">
		<h4 class="special-header">Livraison</h4>
		<form>
			<div layout="row">
				<md-input-container flex>
					<label>N° Du Colis</label>
					<input type="text" required x-ng-model="entity.packageId" />
				</md-input-container>
				<span class="alert alert-dange" x-ng-show="formError.invalidPackageId">
					Veuillez entrer un numéro de colis valide.
				</span>
			</div>
		</form>
	</div>
	
	<div style="margin-top: 32px;">
		<div class="pull-left">
			<md-button class="md-raised" x-ui-sref="root.orders">
				<i class="fa fa-arrow-circle-left"></i> Retour
			</md-button>
		</div>
		<div class="pull-right" x-ng-if="entity.status == 'PAID'">
			<md-button class="md-raised md-primary" x-ng-click="deliverEntity()">
				<span class="blink blink-infinite blink-furiously">Livrer</span> <i class="fa fa-truck"></i>
			</md-button>
		</div>
	</div>
</div>

<div x-ba-panel x-ba-panel-title="Détails Commande #{{ entity.eShopRelId }} ( {{ entity.eShop.name }})" x-ba-panel-class="with-scroll">
	<div layout="column" layout-align="space-around center" x-ng-show="isEntityLoading">
		<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
     		</div>
		
    <div layout="column" layout-align="center center" x-ng-if="!isEntityLoading && entity == null">
		<div flex="auto">
			<h3 class="md-title text-success"><i class="fa fa-circle-o-notch"></i>&nbsp;<b>Désolé, pas de contenu à afficher</b></h3>
		</div>
    </div>
    
    <div layout="column" layout-align="start">
		<div layout-gt-xs="row" layout-xs="column" flex layout-wrap>
			<md-input-container class="md-block" flex>
	            <label>Id Absolu</label>
	            <input value="{{ entity.id | number }}" readonly />
            </md-input-container>
            <md-input-container class="md-block" flex>
	            <label>Id Relatif Acheteur</label>
	            <input ng-model="entity.buyerRelId" readonly />
            </md-input-container>
            <md-input-container class="md-block" flex>
	            <label>Id Relatif Boutique</label>
	            <input ng-model="entity.eShopRelId" readonly />
            </md-input-container>
		</div>
		
		<div layout-gt-xs="row" layout-xs="column" flex>
            <md-input-container class="md-block" flex>
	            <label>Acheteur</label>
	            <input ng-model="entity.buyer.username" readonly />
            </md-input-container>
            <md-input-container class="md-block" flex>
	            <label>Date Enregistrement</label>
	            <input value="{{ entity.regDate | date: 'medium' }}" readonly />
            </md-input-container>
        </div>
        
		<div layout="row" flex>
            <md-input-container class="md-block" flex>
	            <label>E-Boutique</label>
	            <input value="{{ entity.eShop.name }}" readonly />
            </md-input-container>
        </div>
        
		<div layout="row" flex layout-margin>
			<div flex>
	            <label>Statut</label>
	            <order-status status="entity.status" />
			</div>
        </div>
        
		<div layout-gt-xs="row" layout-xs="column" flex>
            <md-input-container class="md-block" flex x-ng-show="entity.deliveryDate != null">
	            <label>Début Livraison</label>
	            <input value="{{ entity.deliveryDate | date: 'medium' }}" readonly />
            </md-input-container>
            <md-input-container class="md-block" flex x-ng-show="entity.receptionDate != null">
	            <label>Réception</label>
	            <input value="{{ entity.receptionDate | date: 'medium' }}" readonly />
            </md-input-container>
        </div>
        
		<div layout="row" flex x-ng-show="entity.packageId != null">
			<md-input-container class="md-block" flex>
	            <label>N° Colis</label>
	            <input value="{{ entity.packageId }}" readonly />
            </md-input-container>
		</div>
	</div>
	
	<h4 class="special-header text-success">Articles commandés</h4>
	
	<div layout="column">
		<div layout-sm="column" layout-gt-sm="row" ng-repeat="ordArt in entity.orderedArticles" layout-padding>
			<div flex="none">
				<img x-ng-src="https://drive.google.com/uc?id={{ ordArt.article.pictures[0].googleId }}&export=download"
					class="img-responsive img-thumbnail center-block"
					style="width: 60px; height: 60px;" />
			</div>
			<div flex="auto">
	            <md-input-container class="md-block" flex layout-align="start stretch">
		            <label>Article</label>
		            <input value="{{ ordArt.article.name}}" readonly class="text-right" />
	            </md-input-container>
			</div>
			<div flex layout-align="start stretch">
	            <md-input-container class="md-block" flex>
		            <label>Prix Unitaire</label>
		            <input value="{{ ordArt.article.price | number }} F CFA" readonly class="text-right" />
	            </md-input-container>
			</div>
			<div flex layout-align="start stretch" x-ng-show="ordArt.article.deliveryFee > 0">
	            <md-input-container class="md-block" flex>
		            <label>Livr.</label>
		            <input value="{{ ordArt.article.deliveryFee | number }} F CFA" readonly class="text-right" />
	            </md-input-container>
			</div>
			<div flex layout-align="start stretch">
	            <md-input-container class="md-block" flex>
		            <label>Quantité</label>
		            <input value="{{ ordArt.quantity | number }}" readonly  class="text-right" />
	            </md-input-container>
			</div>
			<div flex layout-align="start stretch">
	            <md-input-container class="md-block" flex>
		            <label>Total</label>
		            <input value="{{ ( (ordArt.article.price + ordArt.article.deliveryFee) * ordArt.quantity) | number  }} F CFA" readonly class="text-right" />
	            </md-input-container>
			</div>
		</div>
		
		<div flex layout-align="start center" layout="row" layout-padding>
            <md-input-container class="md-block" flex layout-align="start stretch">
	            <label>Total</label>
	            <input value="{{ entity.total | number }} F CFA" readonly class="text-right" />
            </md-input-container>
		</div>
	</div>
	
	<div layout="row" layout-align="start center">
		<div>
			<md-button class="md-raised" x-ui-sref="root.orders" x-ui-sref-options="{ reload: true}" >
				<i class="fa fa-arrow-circle-left"></i><span class="hidden-xs">&nbsp;Retour</span>
			</md-button>
		</div>
		<div flex></div>
		<div>
			<md-button class="md-raised md-primary md-mini">
				Régler <i class="fa fa-money"></i>
			</md-button>
		</div>
	</div>
</div>