<div>
	<div ba-panel ba-panel-class="profile-page">
		<div class="panel-content">
		
			<div layout="column" layout-align="center center" x-ng-show="isLoading">
				<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
        	</div>
	        
			<md-content layout-padding style="background-color: inherit;" x-ng-if="!isLoading">
				<form>
			      	<h4 class="text-primary"><i class="fa fa-file-archive-o"></i> <b>Informations personnelles</b></h4>
			        <div layout-gt-sm="row">
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Prénom</label>
			            <input ng-model="entity.userInfo.firstName">
			          </md-input-container>
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Autres prénoms</label>
			            <input ng-model="entity.userInfo.middleName">
			          </md-input-container>
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Nom</label>
			            <input ng-model="entity.userInfo.lastName">
			          </md-input-container>
			        </div>
			        
			        <div layout-gt-sm="row">
				        <md-input-container class="md-block" flex-gt-sm>
				          <label>Genre</label>
				            <md-select ng-model="entity.userInfo.gender">
				              <md-option value="MALE">
				                Masculin
				              </md-option>
				              <md-option value="FEMALE">
				                Féminin
				              </md-option>
				              <md-option value="UNDEFINED">
				                Autre
				              </md-option>
				            </md-select>
				        </md-input-container>
			          <md-input-container>
			            <label>Date de naissance</label>
			            <md-datepicker ng-model="entity.userInfo.birthDay"></md-datepicker>
			          </md-input-container>
			        </div>
			        
			        <h4 class="text-primary"><i class="fa fa-map-marker"></i> <b>Localisation</b></h4>
			        
			        <div layout-gt-sm="row">
			        	
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Pays</label>
			            <md-select ng-model="entity.userInfo.country">
			            	<md-option ng-repeat="country in countries" ng-value="country.code" ng-disabled="country.code != 'BJ'">
			            		{{ country.name }}
			            	</md-option>
			            </md-select>
			          </md-input-container>
			          
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Départment</label>
			            <input ng-model="entity.userInfo.department" type="text">
			          </md-input-container>
			          
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Ville</label>
			            <input ng-model="entity.userInfo.city" type="text">
			          </md-input-container>
			        </div>
			        
			        <div layout-gt-sm="row">
			          
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Arondissement</label>
			            <input ng-model="entity.userInfo.borough" type="text">
			          </md-input-container>
			          
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Quartier</label>
			            <input ng-model="entity.userInfo.district" type="text">
			          </md-input-container>
			        </div>
			        
			        <div layout-gt-sm="row">
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Rue</label>
			            <input ng-model="entity.userInfo.street" type="text">
			          </md-input-container>
			          
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Maison</label>
			            <input ng-model="entity.userInfo.homeNumber" type="text">
			          </md-input-container>
			        </div>
			        
				    <div layout-gt-sm="row">
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Adresse complète pour livraison</label>
			            <textarea ng-model="entity.userInfo.fullAddress" md-maxlength="150" rows="5" md-select-on-focus></textarea>
			          </md-input-container>
				    </div>
				    
				    <h4 class="text-primary"><i class="fa fa-phone"></i> <b>Contacts</b></h4>
				    
				    <div layout-gt-sm="row">
			          <md-input-container class="md-block" flex-gt-sm>
			            <label>Adresse E-Mail</label>
			            <md-icon><i class="fa fa-envelope text-primary"></i></md-icon>
			            <input ng-model="entity.userInfo.email" ng-disabled="true" />
			          </md-input-container>
				    </div>
				    
				    <!-- Security -->
				    <h4 class="text-mainge"><i class="fa fa-key"></i> <b>Sécurité</b></h4>
				    
				    <div layout="row" layout-align="center center">
				    	<md-button class="md-raised md-primary" x-ng-click="showPWDialog( $event)">
				    		<i class="fa fa-lock"></i>&nbsp;Changer Mot de Passe
				    	</md-button>
				    </div>
				    
				    <!-- EMP Accounts -->
										    
				    <h4 class="text-primary"><i class="fa fa-money"></i> <b>Compte Monnaie Numérique</b></h4>
				    
				    <div layout-gt-sm="row" layout-wrap>
				    	<div flex="auto"  x-ng-repeat="eAccount in entity.eAccounts">
				    	 <md-card>
					        <md-card-title>
					          <md-card-title-media>
					            <div class="md-media-sm card-media">
					            	<img ng-src="rest-api/e-money-provider/{{ eAccount.emp.id }}/fetch-logo" class="img-responsive" style="max-height: 100px; max-width: 100px;" />
					            </div>
					          </md-card-title-media>
					          <md-card-title-text>
					            <span class="md-headline">#{{ eAccount.relId }} - {{ eAccount.emp.name }}</span>
					            <span class="md-subhead"> {{ eAccount.isDefault ? 'Compte par défaut' : '' }}</span>
					          </md-card-title-text>
					        </md-card-title>
					        <md-card-content>
					        	<p class="text-left">
					        		<label>Numéro</label>
					        		<span>
					        			{{ eAccount.account }}
					        		</span>
					        	</p>
					        </md-card-content>
					        <md-card-actions layout="row" layout-align="end center">
					          <md-button x-ng-disabled="eAccount.isDefault" x-ng-click="setEAccountAsDefault( eAccount.id)">Par défaut</md-button>
					          <md-button class="md-warn" x-ng-disabled="eAccount.isDefault || eAccounts.length == 1" x-ng-click="showDeleteModal( eAccount.id, $event)">Supprimer</md-button>
					        </md-card-actions>
					      </md-card>
					    </div>
					    
					    <div flex="100" layout="row" layout-align="end center">
			            	<md-button class="md-raised" x-ng-click="showDialog( $event)">
			            		<i class="fa fa-plus-square"></i> Ajouter un compte
			            	</md-button>
					    </div>
				    </div>
				    
				    <div layout="row" layout-align="end center">
					    <md-button class="md-raised md-primary" x-ng-click="updateProfile()">
					    	Mettre à jour <i class="fa fa-check-circle"></i>
					    </md-button>
				    </div>
				</form>
		  </md-content>
		</div>
	</div>
</div>