<div>
	<div class="row">
		<div class="col-md-12" x-ui-view>
			
		  	<div x-ba-panel x-ba-panel-title="Souscrire à un abonnement">
		  		<div layout-gt-xs="row" layout-align-gt-xs="end center"
		  			 layout-xs="column" layout-align-xs="space-around center">
		  			<md-button aria-label="" class="md-raised md-primary" x-ui-sref="root.e-shops.show.shop-subs.new">
		  				<i class="fa fa-plus-square"></i>&nbsp;
		  				<span class="blink blink-infinite">Nouvel Abonnement</span>
		  			</md-button>
		  		</div>
		  	</div>
		  	
			<div x-ba-panel x-ba-panel-title="Abonnements - {{ activeEShop.name }}">
				<div layout="row" layout-sm="column" layout-align="space-around center" x-ng-show="isListLoading">
					<md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
	        	</div>
	        	
			    <div layout="row" layout-sm="column" layout-align="center center" x-ng-if="!isListLoading && !entities.length">
   					<div flex="auto">
   						<h3 class="md-title text-primary"><i class="fa fa-circle-o-notch"></i>&nbsp;<b>Aucun abonnement à afficher</b></h3>
   					</div>
		        </div>
			        
				<!-- Entities Loaded -->
				<md-content layout-sm="column" layout-gt-sm="row" layout-wrap layout-align-gt-sm="start stretch"
							x-ng-if="!isListLoading && entities.length">
					 <md-card x-ng-repeat="entity in entities" flex="auto">
				        <md-card-title>
				          <md-card-title-text>
				            <span class="md-title">#{{ entity.relId | number }} - {{ entity.subOffer.title }}</span>
				            <span class="md-subhead">
				            	Limité à {{ entity.subOffer.shopStatus.articleLimit | number }} article{{ entity.subOffer.shopStatus.articleLimit > 1 ? 's' : '' }}
				            </span>
				          </md-card-title-text>
				        </md-card-title>
				        <md-card-content>
				          <p>
				          	<label>Valide du</label>
				          	<span>{{ entity.startDate | date }}</span>
				          	<label>au</label>
				          	<span>{{ entity.endDate | date }}</span>
				          </p>
				          <p>
				          	<label>Durée</label>
				          	<span><duration-label duration="entity.subOffer.duration" duration-type="entity.subOffer.durationType" /></span>
				          </p>
				          <p>
				          	<label>Statut</label>
				          	<generic-status x-status="entity.subStatus" />
				          </p>
				        </md-card-content>
				        <md-card-actions layout="row" layout-align="end center">
				          <md-button class="md-primary md-raised md-icon-button" aria-label="Détails" x-ui-sref="root.e-shops.show.shop-subs.show( { id: entity.id })">
				            <i class="fa fa-folder-open"></i>
				          	<md-tooltip md-direction="top">
					          Détails
					        </md-tooltip>
				          </md-button>
				          <md-button class="md-accent md-raised md-icon-button" aria-label="Activer" x-ng-disabled="entity.subStatus != 'PAID'"
				          			x-ng-click="activate( entity.id)">
							<i class="fa fa-arrow-circle-up"></i>
				          	<md-tooltip md-direction="top">
					          Activer
					        </md-tooltip>
					       </md-button>
				        </md-card-actions>
				      </md-card>
				</md-content>
				
				<div class="text-center" x-ng-if="pagination.itemsNumber > pagination.pageSize">
					<pagination uib-pagination x-ng-model="pagination.currentPage" boundary-links-numbers="true" rotate="false"
							num-pages="pagination.pagesNumber" max-size="5" class="pagination" items-per-page="pagination.pageSize"
							total-items="pagination.itemsNumber" x-ng-change="changePage()"
							previous-text="Précédent" next-text="Suivant">
					</pagination>
				</div>
				
			</div>
		</div>
	</div>
</div>